/**
 * Beat your Prof theme for jDPG (junge Deutsche Physikalische Gesellschaft
 * Author: Ludwig Neste https://ludwigneste.gitlab.io
 *
 * Based on the "Blood" theme for reveal.js by Walther
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "settings_byp";
// ---------------------------------------------

// Include theme-specific fonts
// Roboto from DPG design
@import url(https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic);

// Colors used in the theme
$dark-blue: #0f192d;
$light-blue: #13203a;
$tu-green: #84b819;

$blood:  #84b819;
$coal: #222;
$codeBackground: #23241f;

$backgroundColor: $light-blue;

// Main text
$mainFont: Roboto, 'sans-serif';
$mainColor: #eee;

// Headings
$headingFont: Roboto, 'sans-serif';
$headingTextShadow: 2px 2px 2px $coal;

// h1 shadow, borrowed humbly from 
// (c) Default theme by Hakim El Hattab
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

// Links
$linkColor: $blood;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $blood;
$selectionColor: #fff;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// For choosing games
.reveal .answer{
    background: rgba(255, 255, 255, 0.1);
}

.reveal .rightanswer{
    background: rgba(255, 255, 255, 0.1);
    background: $tu-green;
}

progress::-moz-progress-bar{
    background: $tu-green;
}

.reveal section .imagetext{
    background: $light-blue;
    border: 5px solid $tu-green;
}

// some overrides after theme template import
.reveal section {
    font-size: 50pt;
}

.reveal p{
    font-weight: 200;
    text-shadow: 1px 1px $coal;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
}

// Spectacular heading
.reveal h1 {
    font-family: "Harlow Solid";
    font-weight: 400;
    font-size: 200pt;
    text-transform: none;
}

// smaller heading
.reveal h3,
.reveal h4{
    text-transform: none;
}

.reveal p code {
    background-color: $codeBackground;
    display: inline-block;
    border-radius: 7px;
}

.reveal small code {
    vertical-align: baseline;
}

// Img border color
.reveal section img {
	border: 5px solid $tu-green;
}

.reveal section iframe {
	border: 5px solid $tu-green;
}

.reveal section video {
	border: 10px solid $tu-green;
}

//fraction enhanced
.reveal .slides section .fragment.delete {
    opacity: 1;
    visibility: inherit;
}
.reveal .slides section .fragment.delete.visible {
    display: none; 
    visibility: hidden;
}

.reveal .slides section .fragment.create {
    display: none; 
    visibility: hidden;
}
.reveal .slides section .fragment.create.visible {
    display: inherit; 
    visibility: inherit;
}

.reveal .slides section .fragment.popup{
    transition: none;
}

.reveal .slides section .fragment.trigger {
    opacity: 1;
    visibility: inherit;
}
.reveal .slides section .fragment.trigger.visible {
    opacity: 1;
    visibility: inherit;
}

.reveal .hightlightTU {
    color: $tu-green;
}

// border in tables
.reveal .slides td {
    border: none;
}